Assignment-1

Q1. Create one variable containing following type of data:

(i)	    string

(ii)	list

(iii)	float

(iv)	tuple

Answer:

In [1]:
#(i) string
string= 'My first Assignment'
print('String Data Type:', string)

#(ii) list
list= [1,2,5.0,'python','question',8+5j]
print('List Data Type:', list)

#(iii) float
float= 9.5
print('Float Data Type:', float)

#iv) tuple
tuple= ('hello',5,8.9)
print('Tuple Data Type:', tuple)

String Data Type: My first Assignment
List Data Type: [1, 2, 5.0, 'python', 'question', (8+5j)]
Float Data Type: 9.5
Tuple Data Type: ('hello', 5, 8.9)

Q2. Given are some following variables containing data:

(i) 	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.

Answer:

In [2]:
#(i) var1
var1 = ''
type(var1)

str

In [3]:
#(ii) var2 = ‘[ DS , ML , Python]’
var2 = '[ DS , ML , Python]'
type(var2)

str

In [4]:
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [5]:
#(iv) var4 = 1
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

Answer:

In [6]:
#(i) operator / is used for division and example is -
a= 5/2
print('a:', a)

#(ii) operator Modulus '% ' is used for remainder and example is -
b= 5%2
print('b:', b)

#(iii) operator Floor division '//'  rounds the result down to the nearest whole number and example is -
c= 5//2
print('c:', c)

#(iv) operator Exponent '**' is used for square root and example is -
d=5**2
print('d:', d)

a: 2.5
b: 1
c: 2
d: 25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

Answer:

In [7]:
a=[1,2,3,4,5.0,6.5,7.5,'Python','Programming','Language']
for i in range(len(a)):
    print ('Element:',a[i],"and it's data type is: ", type(a[i]))

Element: 1 and it's data type is:  <class 'int'>
Element: 2 and it's data type is:  <class 'int'>
Element: 3 and it's data type is:  <class 'int'>
Element: 4 and it's data type is:  <class 'int'>
Element: 5.0 and it's data type is:  <class 'float'>
Element: 6.5 and it's data type is:  <class 'float'>
Element: 7.5 and it's data type is:  <class 'float'>
Element: Python and it's data type is:  <class 'str'>
Element: Programming and it's data type is:  <class 'str'>
Element: Language and it's data type is:  <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

Answer:

In [8]:
A = 0
B = 2
while A < 20:
    A += 1
    if A % B:
        continue
    print(A)

2
4
6
8
10
12
14
16
18
20

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

Answer:

In [9]:
list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in range(len(list)):
    if list[i]%3==0:
        print('Element', list[i], 'is  divisible by 3')
    else :
        print('Element', list[i], 'is not divisible by 3')

Element 1 is not divisible by 3
Element 2 is not divisible by 3
Element 3 is  divisible by 3
Element 4 is not divisible by 3
Element 5 is not divisible by 3
Element 6 is  divisible by 3
Element 7 is not divisible by 3
Element 8 is not divisible by 3
Element 9 is  divisible by 3
Element 10 is not divisible by 3
Element 11 is not divisible by 3
Element 12 is  divisible by 3
Element 13 is not divisible by 3
Element 14 is not divisible by 3
Element 15 is  divisible by 3
Element 16 is not divisible by 3
Element 17 is not divisible by 3
Element 18 is  divisible by 3
Element 19 is not divisible by 3
Element 20 is not divisible by 3
Element 21 is  divisible by 3
Element 22 is not divisible by 3
Element 23 is not divisible by 3
Element 24 is  divisible by 3
Element 25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

Answer: 

Mutable data types- A mutable object can be changed after it is created. Example: List, Set, Dictionary

Immutable data types- An immutable object cannot be changed after it is created. Example:  tuples, int, float, bool

In [10]:
#Example: Mutable data types
list = [1,2,3,4,5]
list[4] = 100
print("List after changing value using indexing = ", list)
print('*'*65)

#Example: Immutable data types (it will give error if we try to change the value)
tuple = (1,2,3,4,5)
tuple[4] = 100
print("List after changing value using indexing = ", tuple)

List after changing value using indexing =  [1, 2, 3, 4, 100]
*****************************************************************

TypeError: 'tuple' object does not support item assignment