### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### Answer:

- A database is a structured collection of data that is organized, stored, and managed in a way that allows for efficient retrieval and manipulation of information. It provides a systematic approach to manage data and enables users and applications to access and interact with the data stored within it.

#### Differentiation between SQL and NoSQL databases:

- SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases are two different types of database management systems with distinct characteristics:

#### 1. SQL Databases:

- SQL databases are relational databases that store data in a tabular format with rows and columns.

- They have a predefined schema that specifies the structure of the data and enforces data integrity constraints through keys, unique constraints, and foreign key relationships.

- SQL databases use SQL as the query language to interact with the data and perform operations like querying, inserting, updating, and deleting data.

- Examples of SQL databases include MySQL, PostgreSQL, Oracle, SQL Server, and SQLite.


#### 2. NoSQL Databases:

- NoSQL databases are non-relational databases that store data in various formats like key-value pairs, documents, graphs, or column-family stores.

- They are schema-less or have a flexible schema, allowing data to be stored without a predefined structure.

- NoSQL databases use various query languages depending on the type of database.

- NoSQL databases are more scalable and suitable for handling large volumes of unstructured or semi-structured data.

- Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, Redis, and Neo4j.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### Answer:

- DDL (Data Definition Language) is a subset of SQL used to define and manage the structure of a database. It includes statements that create, modify, and delete database objects like tables, indexes, views, and constraints.


- CREATE: 
    - The CREATE statement is used to create new database objects, such as tables, views, or indexes.
    - Example: Creating a table named "employees" with columns for ID, name, and age.
    CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
    );


- DROP: 
    - The DROP statement is used to remove an existing database object from the database.
    - Example: Dropping the "employees" table from the database.
    DROP TABLE employees;
    
    
- ALTER: 
    - The ALTER statement is used to modify an existing database object, such as adding, modifying, or dropping columns in a table.
    - Example: Adding a new column "salary" to the "employees" table.
    ALTER TABLE employees ADD salary DECIMAL(10, 2);
    
    
- TRUNCATE: 
    - The TRUNCATE statement is used to delete all the data from a table, but the table structure remains intact.
    - Example: Truncating the "employees" table, deleting all its data.
    TRUNCATE TABLE employees;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### Answer:

DML (Data Manipulation Language) is a subset of SQL used to manage data within a database. It includes statements for inserting, updating, and deleting data from tables.

- INSERT: 
    - The INSERT statement is used to add new rows of data into a table.
    - Example: Inserting a new employee record into the "employees" table.
    INSERT INTO employees (id, name, age, salary) VALUES (1, 'John Doe', 30, 50000);
    
    
- UPDATE: 
    - The UPDATE statement is used to modify existing data in a table.
    - Example: Updating the salary of the employee with ID 1.
    UPDATE employees SET salary = 55000 WHERE id = 1;
    
    
- DELETE: 
    - The DELETE statement is used to remove specific rows of data from a table.
    - Example: Deleting the employee with ID 1 from the "employees" table.
    DELETE FROM employees WHERE id = 1;

### Q4. What is DQL? Explain SELECT with an example.

#### Answer:

- DQL (Data Query Language) is a subset of SQL used to retrieve and manipulate data from a database. It mainly includes the SELECT statement, which is used to query data from one or more tables.

- SELECT: 
    - The SELECT statement is used to retrieve data from a table or multiple tables based on specified conditions.
    
    - Example 1: Selecting all columns from the "employees" table.
    
    SELECT * FROM employees;
    
    - Example 2: Selecting specific columns (id and name) from the "employees" table with a condition.
    
    SELECT id, name FROM employees WHERE age > 25;

### Q5. Explain Primary Key and Foreign Key.

#### Answer:

1. Primary Key: 

- A primary key is a unique identifier for a row (record) in a database table. 

- It ensures that each record in the table is uniquely identifiable and serves as the reference for relationships between tables. 

- A primary key cannot have duplicate values and must have a unique constraint.

- Example: In the "employees" table, the "id" column can be defined as the primary key, ensuring that each employee has a unique ID.

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);

2. Foreign Key: 

- A foreign key is a column or a set of columns in a table that refers to the primary key of another table. 

- It establishes a relationship between two tables, allowing data in one table to reference data in another table. 

- The foreign key ensures referential integrity, meaning that the values in the foreign key column must match the values of the primary key in the referenced table or be NULL.

- Example: In the "orders" table, the "customer_id" column can be defined as a foreign key, referencing the "id" column in the "customers" table.

CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    order_date DATE,
    customer_id INT,
    FOREIGN KEY (customer_id) REFERENCES customers(id)
);

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### Answer:

- To connect Python to MySQL, you need to use the mysql-connector library. First, install the library using pip if you haven't already:

    - pip install mysql-connector-python
    
- Now, you can connect to MySQL and perform database operations using the following Python code:

    - import mysql.connector

        ##### Establish the connection
        connection = mysql.connector.connect(
            host="localhost",
            user="your_username",
            password="your_password",
            database="your_database"
        )

        ##### Create a cursor object to interact with the database
        cursor = connection.cursor()

        ##### Execute SQL queries using the cursor's execute() method
        sql_query = "SELECT * FROM employees"
        cursor.execute(sql_query)

        ##### Fetch and print the result
        result = cursor.fetchall()
        for row in result:
            print(row)

        ##### Close the cursor and connection
        cursor.close()
        connection.close()

#### Explanation:

- Import the mysql.connector library to work with MySQL databases.

- Establish the connection to the MySQL server using mysql.connector.connect(). Replace "localhost", "your_username", "your_password", and "your_database" with your actual database credentials.

- Create a cursor object using connection.cursor(). The cursor allows you to execute SQL queries and fetch the results.

- Execute SQL queries using the cursor's execute() method. In this example, we execute a simple SELECT query to fetch all records from the "employees" table.

- Use the fetchall() method to retrieve the result set obtained from the SELECT query.

- Iterate through the result set and print each row.

- Close the cursor and the database connection using cursor.close() and connection.close().

#### Q7. Give the order of execution of SQL clauses in an SQL query.

#### Answer:

The order of execution of SQL clauses in an SQL query is as follows:

- SELECT: 

        The SELECT clause is used to specify the columns that will be retrieved from the table(s).
        
- FROM: 

        The FROM clause is used to specify the table(s) from which the data will be retrieved.
        
- WHERE: 

        The WHERE clause is used to filter the rows based on specified conditions.
        
- GROUP BY: 

        The GROUP BY clause is used to group rows based on specific columns.
        
- HAVING: 

        The HAVING clause is used to filter groups based on specified conditions (used with GROUP BY).
        
- ORDER BY: 

        The ORDER BY clause is used to sort the result set based on specified columns.
        
- LIMIT/OFFSET: 

        The LIMIT and OFFSET clauses are used to limit the number of rows returned and control pagination.